@import "config";

@include font-face("OggRoman", "Regular");
@include font-face("JetBrainsMono", "Regular");
@include font-face("Poppins", "Medium");

.home {
  height: 100%;
  display: grid;
  place-items: center;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;

    .brand {
      display: flex;
      flex-direction: column;
      align-items: center;

      &__title {
        @include font("OggRoman", "Regular", 7rem);
        line-height: 100%;
        color: $CREAM;
        margin-bottom: 10px;
      }

      &__subtitle {
        @include font("JetBrainsMono", "Regular", 1.3rem);
        white-space: nowrap;
        color: $WHITE;
      }
    }

    .separator {
      height: 3px;
      width: 100%;
      background-color: $CREAM;
      margin: 10px 0;
    }

    .nav{
      margin-top: 10px;
      width: 75%;
      display: flex;
      flex-direction: column;
      align-items: center;
      @include media($from: 900px){
        flex-direction: row;
        justify-content: space-evenly;
      }

      &__link{
        @include font("Poppins", "Medium", 1rem);
        text-decoration: none;
        white-space: nowrap;
        color: $WHITE;
      }

      &__link.router-link-exact-active {
        color: $BLUE;
      }
    }

  }

}




