@import "config";

@include font-face("Poppins", "Medium");
@include font-face("Poppins", "Regular");
@include font-face("JetBrainsMono", "Regular");
.user-manual{
  padding: 75px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: $CREAM ;

  p, ol, ul {
    // Default font:
    @include font-sans("Poppins", 1rem, $weight: "Regular");
    // Default font-colour:
    color: $BLACK_L;
    text-align: justify;
  }
  p {
    padding: 5px 0;
  }
  ol, ul {
    padding: 5px 1rem;
  }
  code {
    // Default font:
    @include font-sans("JetBrainsMono", 0.9rem, $weight: "Regular");
    // Default font-colour:
    color: $BLACK_DDD;
    background-color: $WHITE_D;
  }
  code.block {
    display: block;
    padding: 1rem;
  }
  h1, h2, h3, h4, h5, h6 {
    // add # and underline on hover so it's clear to the user that they can
    // click on it to link
    > a {
      color: black !important;
      text-decoration: none !important;
    }
    > a:hover {
      color: black !important;
      text-decoration: underline !important;
    }
    > a:hover::before {
      content: "# ";
    }
    
    // Default font:
    @include font-sans("Poppins", $weight:"Medium");
    // Default font-colour:
    color: $BLACK_DDD;
    padding-top: 20px;
    padding-bottom: 10px;
  }
  a:link, a:visited {
    text-decoration: underline;
    color: #3c2886;
  }
  a:hover {
    text-decoration: none;
  }

  // Diagonal stacked paper effect
  &__content {
    position: relative;
    width: 100%;
    max-width: 900px;
    background-color: $WHITE;
    box-shadow: 3px 3px 2px rgba($BLACK_DDD,0.15);
    // To move the pseudo-elements behind the parent.
    transform-style: preserve-3d;
    padding: 2rem;
  }

  // Second sheet.
  &__content::before {
    @include pseudo($width: 100%, $height: 100%);
    background-color: darken($WHITE, 5%);
    left: 10px;
    top: 10px;
    transform: translateZ(-1px) rotateZ(1deg);
    box-shadow: 3px 3px 2px rgba($BLACK_DDD,0.15);
  }

  // Third Sheet.
  &__content::after {
    @include pseudo($width: 100%, $height: 100%);
    background-color: darken($WHITE, 10%);
    left: 20px;
    top: 10px;
    transform: translateZ(-2px) rotateZ(-1deg);
    box-shadow: 3px 3px 2px rgba($BLACK_DDD,0.15);
  }
}