@import "config";

@include font-face("Poppins", "Medium");
@include font-face("Poppins", "Regular");
@include font-face("JetBrainsMono", "Regular");

@import url("https://cdn.jsdelivr.net/npm/nouislider@14.6.0/distribute/nouislider.min.css");

.visualise {
  // Occupy entire viewport height.
  height: 100%;
  overflow-y: auto;
  // Prevent content under nav-bar
  padding: 50px 25px 25px 25px;
  position: relative;

  &__back {
    @include font-sans("Poppins", 0.75rem, "Regular", $BLACK_DDD);
    cursor: pointer;
    margin: 0 5px;
    &:hover {
      text-decoration: underline;
    }
  }

  .upload-dataset {
    padding: 0 40px;
    &__title {
      @include font-sans("Poppins", 1.25rem, "Medium", $BLACK_DDD);
    }

    &__btn {
      // Remove default styling.
      appearance: none;
      border: 0;
      // Make the button circular.
      border-radius: 100%;
      @include setSize(40px);

      background: $BLACK_DD;
      box-shadow: 2px 2px 4px rgba($BLACK_DDD, 0.25);
      margin: 10px;
      cursor: pointer;
      position: relative;

      &::after {
        @include pseudo($height: 50%, $width: 4px);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: $AQUAMARINE;
      }
      &::before {
        @include pseudo($height: 50%, $width: 4px);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotateZ(90deg);
        background: $AQUAMARINE;
      }

      // Shift up by 1 character + 5px margin
      @include transition(transform border, 0.25s, $ease1);
      &:hover, &:focus {
        transform: scale(1.1);
        outline: none;
      }

    }

    &__tiles {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
    }
  }

  .create-diagram {
    padding: 0 40px;
    &__title {
      @include font-sans("Poppins", 1.25rem, "Medium", $BLACK_DDD);
    }

    &__tiles {
      display: flex;
      flex-flow: row wrap;
    }
  }

  .your-diagrams {
    padding: 0 40px;
    &__title {
      @include font-sans("Poppins", 1.25rem, "Medium", $BLACK_DDD);
    }

    &__tiles {
      display: flex;
      flex-flow: row wrap;
    }
  }

  // Panels containing the diagrams to be displayed side-by-side.
  .diagram-panels {
    display: flex;
    flex-direction: row;
    height: 100%;
  }
}
